<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <title>
        Book with id...
    </title>
</head>
<body>

<div th:if="${book.isEmpty()}">Книги не найдено</div>

<div th:unless="${book.isEmpty()}">
    <p th:each="bookOne : ${book}">
        <span th:if="${bookOne.getOwner() != (null)}" th:text="${bookOne.getName() + ', ' + bookOne.getAuthor() + ', ' + bookOne.getYear()}
           + '. Книга у: ' + ${bookOne.getOwner().getName()}"/>
        <span th:if="${bookOne.getOwner() == (null)}" th:text="${bookOne.getName() + ', ' + bookOne.getAuthor() + ', ' + bookOne.getYear()}
           + '. Книга свободна'"/>
    </p>
</div>

</body>
</html>